<%= form_with(model: piu, local: true) do |form| %>
  <% if piu.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(piu.errors.count, "error") %> prohibited this piu from being saved:</h4>

      <ul>
        <% piu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
    <% if !current_page?(new_piu_path) %>
      <%= link_to 'Show', @piu, class: "btn btn-light" %>
    <% end %>
    <%= link_to 'Back', pius_path, class: "btn btn-light" %>
  </div>
<% end %>
