<div class="row mt-5">
  <div class="col-lg-4 col-sm-12 col-auto">
    <div class="card" style="width: 18rem;">
      <% url = Gravatar.new(current_user.email).image_url %>
      <%= image_tag url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= current_user.name %></h5>
        <p class="card-subtitle text-muted">@<%= current_user.username %></p>
        <p class="card-subtitle text-muted mb-4"><%= current_user.email %></p>
        <p class="card-text">I haven't felt much of anything since my guinea pig died.</p>
        <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-8">
    <h1>Pius</h1>

    <% if user_signed_in? %>
      <%= link_to 'New Piu', new_piu_path, class: "btn btn-primary btn-block" %>
    <% end %>

    <% @pius.order(id: :desc).each do |piu| %>
      <div class="card mt-2">
        <div class="card-body">
          <div class="row ml-1">
            <% perfil = Gravatar.new(piu.user.email).image_url %>
            <%= image_tag perfil, class: "rounded-circle pius-perfil-img" %>
            <h5 class="card-title pt-2 ml-3">
              <%= piu.user.name %><small> - @<%= piu.user.username %></small>
            </h5>
          </div>
          <p class="card-text mt-2"><%= piu.content %></p>
          <% if piu.photo.file? %>
            <%= image_tag piu.photo.url, class: "rounded-lg mb-3 img-size-limit" %>
          <% end %>
          <div class="row">
            <div class="col">
              <%= link_to 'Show', piu, class: "btn btn-light btn-sm " %>
              <% if piu.user == current_user %>
                <%= link_to 'Edit', edit_piu_path(piu), class: "btn btn-light btn-sm  " %>
                <%= link_to 'Destroy', piu, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light btn-sm " %>
              <% end %>
            </div>
            <div class="col text-right">
              <p class="card-text"><small class="text-muted"><%= piu.created_at.strftime("%d/%m/%Y - %H:%M") %></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
