<div class="row mt-5">
  <div class="col-4 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="https://trecobox.com.br/wp-content/uploads/2019/09/ergo-proxy-anime-disponivel-na-netflix_trecobox.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">User Name</h5>
        <p class="card-text"><%= current_user.email %></p>
        <p class="card-text">I haven't felt much of anything since my guinea pig died.</p>
        <a href="#" class="btn btn-primary">Perfil</a>
      </div>
    </div>
  </div>
  <div class="col-8">
    <h1>Piu</h1>
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title"><%= @piu.user.email %></h5>
        <p class="card-text"><%= @piu.content %></p>
        <div class="row">
          <div class="col">
            <% if @piu.user == current_user %>
              <%= link_to 'Edit', edit_piu_path(@piu), class: "btn btn-light btn-sm" %>
              <%= link_to 'Destroy', @piu, method: :delete, data: { confirm: 'Está certo disso?' }, class: "btn btn-light btn-sm" %>
            <% end %>
            <%= link_to 'Back', pius_path, class: "btn btn-light btn-sm" %>
          </div>
          <div class="col text-right">
            <p class="card-text"><small class="text-muted"><%= @piu.created_at.strftime("%d/%m/%Y - %H:%M") %></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
